/* Your app custom styles here */

.badgen {
    background-color: #007aff;
    padding: 4px;
    border-radius: 12px;
    color: aliceblue;
};



.cardnew {
    background-Color: 'white';
    border-radius: 10px;
    padding: 8px;
    box-shadow: '0 2px 8px rgba(0,0,0,0.1)';
    margin-top: '8px';
    margin-bottom: '8px';
}